.header{
    display: flex;
    flex-direction: row;
    height: 60px;
    /* border: solid;
    border-color: rgb(207, 205, 205); */
    border-width: 1px;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 197, 197);
    border-bottom-width: 0.5px;
    z-index: 100;
}

.left-section{
    align-items: center;
    /* background-color: lightblue; */
    width: 300px;
}

.hamburger{
    margin-top: 10px;
    width: 30px;
    margin-right: 20px;
    margin-left: 15px;
}

.ytlogo{
    width: 110px;
    padding-bottom: 4px;
}

.middle-section{
    flex: 1;
    /* background-color: lightpink; */
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-right: 300px;
}

.search-box{
    height: 36px;
    flex: 1;
    background-color: rgb(255, 255, 255);
    border-width: 0.5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search{
    width: 49px;
    background-color: rgb(243, 241, 241);
    margin-left: -2px;
    border-radius: 0.25px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.search-box::placeholder {
    font-family: Roboto, Arial;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 10px;
}

.mic-button{
    margin-left: 20px;
    height: 45px;
    width: 49px;
    border-radius: 25px;
    border: none;
}

.mic{
    width: 35px;
}

.right-section{
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    width: 175px;
    justify-content: space-between;
}

.upload{
    height: 30px;
}

.notifications{
    height: 30px;
}

.mychannel{
    height: 45px;
    margin-right: 15px;
    border-radius: 20px;
}