.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 50px;

}
.thumbnail-row{
    margin-bottom: 10px;
    position: relative;
}

.time{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: black;
    color: white;
    font-family: Robota, Arial;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    font-size: 13px;
    font-weight:550;
}
.thumbnail{
    width: 100%;
    border-radius: 5px;
    border-radius: 10px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}
.profile-picture{
    width: 100%;
    border-radius: 50px;
}
.video-info{
    width: 100%;
}
.video-title{
    width: 100%;
    font-weight: 500;
}